.CardUser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: end;
    justify-content: space-around;
    column-gap: 60px;
}

.CardUser a {
    display: block;
}